body {
  background-color: #545454;
}

#formPane{
  background-color: white;
  margin: 1vh 1vh 1vh 1vh;
  min-height: 86vh;
  max-height: 86vh;
}
#documentPane{
  background-color: yellow;
  margin: 1vh 1vh 1vh 0vh;
  padding: 0 !important;
  min-height: 86vh;
  max-height: 86vh;
  min-width: inherit !important;
}
embed{
  min-width: 30vh !important;
  width: inherit !important;
  min-height: inherit;
  margin: 0 0 0 0 !important;
}
.btn-rounded{
  border-radius: 40px;

}
.inLine{
  display: inline;
  width: 50%:
}

.leftPane{
  height: 88vh;
  max-height: 88vh;
  background-color: grey;

}
.rightPane{
  padding: 0 0 0 0;
}
.documentPane{
  padding: 0 !important;
  min-width: inherit;
  background-color: green;
}
.hidden{
  display: none;
}

.statusNew{
  color: #fa0068;
  font-weight: bold;
  font-size: 15px;
  font-family: sans-serif;
}

#applicationListTable{
  max-height: inherit;
}
#applicationListTable th:nth-child(1), #applicationListTable tr td:nth-child(2) {
  width: 15%;
  text-align: center;
  vertical-align: middle;
  color: grey;
}
#applicationListTable tr td:nth-child(4){
  width: 15%;
  text-align: center;
  vertical-align: middle;
  padding: 0 5% 0 0 !important;
}
#applicationListTable tr td div, #applicationListTable tr td, #applicationListTable tr{
  margin: 0 !important;
  padding: 0 !important;
}
#applicationListTable tr td div:nth-child(2){
  font-size: 12px;
  color: #85857e;
}
#applicationListTable tbody tr td:nth-child(3){
  /*height: 0vh !important;*/
  padding: 1% 1% 1% 1% !important;
  text-align: justify;
}
#applicationListTable tr{
  max-height: 5vh !important;
  height: 0vh;

}
