.resNav{
  height: 0;
  background-color: white;
}

.resForm{
  height: 90vh;
  background-color: inherit;
}

.resTable{
  height: 90vh;
  background-color: white;
}

.optionList{
  text-align: right;
}

.hidden{
  display: none;
}
