html {
  scroll-behavior: smooth;
}


.table-wrapper-scroll-y {
display: block;
}

.tableFixHead {
  overflow-y: auto;
}

.tableFixHead thead th {
  top: 0;
	position:sticky;
}

.table_height{
	max-height: 100%;
}

table  {
	max-width: 100%!important;
	height: 32em!important;
}

th     {
  background:#eee;
}


thead{
  border-color: #eee!important;
}

.box_shadow{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 18px 0 rgba(0, 0, 0, 0.19);
}

.ff{
  height: 100vh;
}
