html, body{
	padding: 0!important;
	margin: 0!important;
}

#container{
    width: 100vw;
    height: 100vh;
		padding: 0!important;
		margin: 0!important;
}

.panel{
  display: table;
}

.panel>div{
  display: table-row;
  height: 0;
}

.panel>div.fill{
  height: auto;
}

#row-top{
 background-color: gray;
}
#row-mid{
background-color: yellow;
}
#row-bot{
  background-color: gray;
}

#container2{
  height: 100%;
  overflow-y: scroll;
}
#container2 .row{
  height: 100%;
  overflow-y: scroll;
}
#container2 .row div{
  height: 100%;
  overflow-y: scroll;
}
#leftPane{
  border: 3px solid black;
}
#cenPane{
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
#residenceTable{
  background-color: blue;
  height: 94%;
  max-height: 94%;
  overflow-y: scroll;
}
#residenceSearch{
  background-color: teal;
  height: 6%;
  max-height: 6%;
  overflow-y: scroll;
}
#unitTable{
  background-color: green;
  height: 94%;
  max-height: 94%;
  overflow-y: scroll;
}
#unitSearch{
  background-color: teal;
  height: 6%;
  max-height: 6%;
  overflow-y: scroll;
}

.allocationForm{
  background-color: green;/*#f2f2f2;*/
  height: 35%;
  max-height: 35%;
  padding: 2% 0 0 5%;

  max-width: 100%;
  width: 100%;
}
.allocationForm form{
  width: 90%;
  max-width: 90%;
  margin: 0;
  padding: 0;
}
.allocationlist{
  background-color: #f2f2f2;
  height: 65%;
  max-height: 65%;
  margin-bottom: 0!important;
  padding-bottom: 0 !important;
}



#t-top{
  height: 10%;
  max-height: 10%;
}
#t-top table thead tr th{
  width: 20%;
}
#t-bot{
  height: 90%;
  max-height: 90%;
  margin-top: -2vh;
}
#t-bot table tbody tr td{
  width: 20%;
}
